<!-- src/app/components/add-fournisseur/add-fournisseur.component.html -->

<div class="container">
    <h2>Ajouter un Fournisseur</h2>
    <form (ngSubmit)="addFournisseur()" #fournisseurForm="ngForm">
        <div class="mb-3">
            <label for="code" class="form-label">Code</label>
            <input type="text" id="code" class="form-control" required [(ngModel)]="fournisseur.code" name="code">
        </div>
        <div class="mb-3">
            <label for="libelle" class="form-label">Libelle</label>
            <input type="text" id="libelle" class="form-control" required [(ngModel)]="fournisseur.libelle" name="libelle">
        </div>
        <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <select id="categorie" class="form-select" required [(ngModel)]="fournisseur.categorieFournisseur" name="categorie">
                <option value="ORDINAIRE">ORDINAIRE</option>
                <option value="CONVENTIONNE">CONVENTIONNE</option>
                <option value="PREMIUM">PREMIUM</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Ajouter</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Annuler</button>
    </form>
</div>
