<div class="row">
    <div class="col-md-11" style="margin-left: 20px">
      <h3 style="margin-top: 20px">Liste des Stocks</h3>
      <hr>
      <button class="btn btn-round btn-sm btn-success" routerLink="/add-stock">Ajouter un nouveau Stock</button>

      <br><br>
      <div *ngIf="stocks.length > 0; else noStocks">
        <table class="table table-hover">
          <thead>
            <tr>
             
              <th>Libellé</th>
              <th>Quantité</th>
              <th>Quantité Minimale</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
             
              <td>{{ stock.libelleStock }}</td>
              <td>{{ stock.qte }}</td>
              <td>{{ stock.qteMin }}</td>
              <td>
                <button type="button" class="btn btn-outline-primary" (click)="editStock(stock.idStock)">Modifier</button>
                <button type="button" class="btn btn-outline-danger" (click)="deleteStock(stock.idStock)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noStocks>
        <p>Aucun stock disponible.</p>
      </ng-template>
    </div>
  </div>
  