<div class="container">
    <h1>Liste des Fournisseurs</h1>
    <button class="btn btn-primary mb-3" routerLink="/add-fournisseur">
        Ajouter un Fournisseur
    </button>
  
    <div *ngIf="fournisseurs.length === 0" class="alert alert-warning">
      Aucun fournisseur trouvé.
    </div>
  
    <table class="table table-striped" *ngIf="fournisseurs.length > 0">
        <thead>
            <tr>
                <th scope="col">Code</th>
                <th scope="col">Libellé</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let fournisseur of fournisseurs">
                <td>{{ fournisseur.code }}</td>
                <td>{{ fournisseur.libelle }}</td>
                <td><span class="badge bg-secondary">{{ fournisseur.categorieFournisseur }}</span></td>
                <td>
                   
                    <button 
                      class="btn btn-danger btn-sm" 
                      (click)="deleteFournisseur(fournisseur.idFournisseur)">
                      Supprimer
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>